body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

.day {
    display: inline-block;
    margin: 5px;
    border: 1px solid #dddddd;
}

    .day .day-header {
        padding: 3px 5px;
        background-color: #d6e9c6;
        border: 1px solid #d6e9c6;
        color: #468847;
        text-align: center;
    }

    .day .day-header.dayoff {
        color: #b94a48;
        background-color: #f2dede;
        border: 1px solid #eed3d7;
    }

    .day .day-body {
        padding: 5px;
    }

        .day .day-body input[type="text"] {
            text-align: center;
            max-width: 45px;
        }
