<!--ПРАЗДНИЧНЫЕ/ПРЕДПРАЗДНИЧНЫЕ ДНИ-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Праздничные и предпраздничные дни</h1>
            </div>
            <!--BODY-->
            <div class="panel-body">
                <!--FORM-->
                <form name="holidayForm" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>День</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" ng-model="holidayModel.date" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>Тип</label>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control"
                                    ng-model="holidayModel.typeId"
                                    ng-options="type.key as type.value for type in dayTypes"
                                    required></select>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" ng-click="addHoliday()" ng-disabled="holidayForm.$invalid">Добавить</button>
                </form>
            </div>

            <!--TABLE-->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>День</th>
                        <th>Тип</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="holiday in holidays">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="holiday.date | date: 'dd.MM.yyyy'"></td>
                        <td ng-bind="holiday.type"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>